/* #region Varibles */
:root {
    --icon-fill-color: #F4F4FD; 
    --items: 4;
    --indent-col: 32px;
}

/* #endregion Varibles */

/* #region Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #2e2f42;    
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
    .container {        
        max-width: 768px;
        padding: 0 24px;
    }
}
@media only screen and (min-width: 1156px) {
    .container {
        max-width: 1156px;
        padding: 0 24px;
    }
}
.section {
    padding: 40PX 0;
}
@media only screen and (min-width: 768px) {  
    .section {
    padding: 50PX 0;
}
}
@media only screen and (min-width: 1156px) {  
    .section {
        padding: 60px;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion */
/*region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    width: 100%;
    height: 56px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .page-header .container {
        width: 768px;
        height: 72px;
        padding: 0 16px;
    }
}

@media only screen and (min-width: 1156px) {
    .page-header .container {
        width: 1156px;
        height: 72px;
    }
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 16px;
    padding: 0;
    align-self: center;
}

.header-logo span {
    color: #2E2F42;
}

@media only screen and (min-width: 768px) {
    .header-logo {
        margin-right: 76px; 
    }
}

.contacts-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
@media only screen and (min-width: 768px) and (max-width: 1155px) {
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%; 
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px; 
    }    
}

@media only screen and (min-width: 768px) and (max-width: 1155px) {
    .contacts-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 5px;
    }
    .cont-link {
        margin-bottom: 2px;
    }
}



@media only screen and (min-width: 1156px) {
    .contacts-list {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 20px;              
    }
}

@media only screen and (max-width: 767px) {
    .contacts-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
}
@media only screen and (max-width: 767px) {
    .page-nav, .contacts-list {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .page-nav, .contacts-list {
        display: flex;
        column-gap: 40px;
        
    }
    .page-nav .nav-link, .page-nav .active-nav-link {
        letter-spacing: 0.02em;
        padding: 24px 0;
        text-decoration: none;
        font-weight: 500;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #2e2f42;
        font-style: normal;
    }
    
    .contacts-list .cont-link {
        padding-top: 24px;
        letter-spacing: 0.02em;
        text-decoration: none;
        font-weight: 500;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #2e2f42;
        font-style: normal;
    }
}

.cont-link {
    margin: 0;
    padding: 0; 
    font-size: 16px; 
    color: #2e2f42; 
    text-decoration: none; 
    text-align: right; 
}



.page-nav .active-nav-link {
    color: #404bbf;
    font-weight: 500;
    position: relative;
}

.page-nav .active-nav-link::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%; 
    height: 4px; 
    background-color: #404bbf; 
    border-radius: 2px; 
    bottom: -1px;
}

.nav-link:hover, .nav-link:focus,
.active-nav-link:hover, .active-nav-link:focus,
.cont-link:hover, .cont-link:focus {
    color: #404bbf;
}

.header-nav {
    display: flex;
    align-items: center; 
}

.contacts {
    margin-left: auto;
}
@media only screen and (min-width: 1156px) {
.active-nav-link, .contacts-list .cont-link {
    padding: 0px;
    }
}
/*end region header */

/* #region Main */
/* Hero Section Styles */
.hero-section {
    padding: 72px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_mob@1x.jpg');
    max-width: 1440px;   
    background-color: #2e2f42; 
    background-size: cover;
    text-align: center;
    display: flex;
    margin: 0 auto;    
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_mob@2x.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_tab@1x.jpg');
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_tab@2x.jpg');
            padding: 188px 0;
        }
    }
    
}

@media only screen and (min-width: 1156px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_desc@1x.jpg');
    }
    .hero-title {
        margin-top: 188px; /* Паддінг зверху */
        max-height: 60px; /* Максимальна висота заголовка */
        text-align: center; /* Вирівнювання тексту по центру */
        margin-bottom: 48px; /* Відступ знизу */
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/Dark-bg_desc@2x.jpg');
        }
    }
}


.hero-title {
    color: #FFFFFF; 
    font-size: 40px; 
    line-height: 1.07; 
    max-width: 160px; 
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 48px;           
}

@media only screen and (min-width: 768px) {
.hero-title {   
    margin-top: 112px; 
    font-size: 56px; 
    line-height: 1.07; 
    max-width: 496px; 
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 48px;  
    }
}



.hero-section .section-title {
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
    display: flex;
}

.btn {
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    min-height: 56px;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;       
}

.btn.primary {    
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

@media only screen and (min-width: 1156px) {
    .btn {
        margin-top: 128px;

    }
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: #404bbf;
}

.btn.primary {
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion Main */

/* #region Effective Solutions */
/* Second Section Styles */


.features-list {
    flex-direction: column;
    gap: 24px;
}

.feature-item {
    margin: 72px 0px;     
}

.feature-icon-container {
    display: none;
}

.title {
    font-family: 'Roboto', sans-serif; 
    font-weight: bold; 
    font-size: 20px; 
    letter-spacing: 2%;
}

.description {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 24px; 
    letter-spacing: 2%;
    color: #434455;
    
}

@media only screen and (min-width: 768px) {
    
    .features-list {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
    }  

    .feature-item {
        flex-basis: calc(50% - 12px);
        margin-top: 96px;
        margin-bottom: 72px;
    }

    .feature-icon-container {
        display: none;
    }

    .description {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1156px) {
    .list-features {
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    
    .Studio {
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1.2; 
        letter-spacing: 0.02em; 
        text-align: center; 
        color: #2e2f42; 
        text-transform: uppercase; 
    }
    
    .title {
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1.2;
        letter-spacing: 0.02em; 
        color: #2e2f42; 
        
    }
    
    .features-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .features-list .feature-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    
    .features-list {
        display: flex;
        gap: 24px;
    }                                                           
    .description{
        color: #4d5ae5;
        letter-spacing: 0.02em; 
        line-height: 1.2;
    }
    .feature-icon {
        width: 64px;
        height: 64px;
        fill: currentColor; 
    }
    
    .feature-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;    
    }
    
}


/* #endregion Effective Solutions */

/* #region Our Team */
.portfolio {
    background-color: #F4F4FD;
    
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    list-style: none;
    flex-wrap: wrap;
    
    justify-content: space-around;
    padding: 0;
    margin-top: 64px;
}

.team-list .items {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

@media only screen and (min-width: 768px) {
.team-list .items {
margin-bottom: 64px;

}
}
.items {
    background-color: #FFFFFF;    
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    text-align: center;
    box-shadow: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-desc {
    padding-top: 32px 0;
    padding-bottom: 32px;
    text-align: center;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.portfolio .team-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
.portfolio .item {
    width: 264px; 
    text-align: center; 
    margin-bottom: 20px;    
}

.portfolio .title, .portfolio .description {
    margin-bottom: 8px; 
}
.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-list .portfolio-item:hover {    
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container .overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-container:hover .overlay {
    transform: translateY(0);
}

.list img {
    width: 100%;
}

.list .card-content {
    padding: 32px 0;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media li {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .social-icon {
    fill: #f4f4fd; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link .social-icon:hover svg,
.social-link .social-icon:focus svg {
    fill: #F4F4FD; 
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    padding: 16px;
    margin: 0;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf; 
}


.team-list li:first-child {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.team-desc {
    padding: 32px 0;
}
/* #endregion Our Team */


/* #region Our Portfolio */
.portfolio, .portfolio-section {      
    letter-spacing: 0.02em;
    padding-top: 120px; 
    padding-bottom: 120px;     
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    transform: translateY(0%);
    justify-content: space-around;  
}


.portfolio-list .portfolio-item {
    width: calc(100% - 48px); 
    --items: 1;   
}

@media only screen and (min-width: 768px) {
.portfolio-list .portfolio-item {
    width: calc((100% - 48px) / 2);
    --indent-col: 32px;
    --indent-row: 32px;
    --items: 2;  
}
}

@media only screen and (min-width: 1156px) {
    .portfolio-list .portfolio-item {    
        flex-basis: calc((100% - 3 * 24px) / 3);
        --indent-row: 24px;
        --items: 4;  
    }
}
.portfolio-list .portfolio-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-list .portfolio-item:first-child {
    border-radius: 0px 0px 4px 4px;
    
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-item {
    background-color: #ffffff;
    letter-spacing: 0.02em;
    border-radius: 0px 0px 4px 4px;
}
.app-info {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-specialization {
    color: #434455;
    letter-spacing: 0.02em;
}

.portfolio .title {
    margin-bottom: 8px; 
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.description {
    line-height: 1.5;
    color: #434455;
}
/* .app-info .title {
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px; 
} */

.app-info .description {
    line-height: 1.5;
    color: #434455;
}
/* #endregion */

/* footer region */

/* Основні стилі для мобільних пристроїв */

.footer {
    background-color: #2E2F42;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-align: center;
    
}
.footer-logo span {
    color: #F4F4FD;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 72px;
}

.social-media-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

.social-media-icon-item {
    width: 40px;
    height: 40px;
}

.social-media-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms ease-in-out;
    
}

.social-media-icon-link:hover {
    background-color: #31d0aa;
}

.social-media-icon {
    fill: #ffffff;
    justify-content: center;
    gap: 12px;
}

.subscribe-form {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.input-email {
    width: 100%;
    max-width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 0 16px;
    border-radius: 4px;
    margin: 16px 0px 16px 0px;
}

.input-email::placeholder, .social-text, .subscribe-text {
    color: #ffffff;
}

.btn-subscribe {
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms ease-in-out;
    margin: auto;
    
}

.btn-subscribe:hover {
    background-color: #404bbf;
}

.btn-subscribe svg {
    fill: #ffffff;
    margin-left: 8px;
}

.footer-content, .footer-social-media, .footer-subscribe {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

@media (min-width: 768px) {    
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 20px;
        gap: 40px;
    }

    /* Верхня частина футера */
    .footer-top {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;        
    }

    .footer-content {
        width: 40%; /* Логотип і текст */
        text-align: left;
    }
    .social-text{
    display: flex;
    padding-left: 40px;
    }
    .footer-social-media {
        width: 40%; /* Соціальні іконки */
        text-align: right;
    }

    .social-media-icons {
        display: flex;
        gap: 24px;
        justify-content: flex-end;
    }

    /* Нижня частина футера */
    .footer-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .subscribe-form {
        display: flex;
        margin: auto;
        margin-left: 65px;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        width: 453px;
        height: 80px;

    }

    .input-email {
        width: 60%; 
        height: 40px;
    }
    .subscribe-text {
        display: flex;
        margin-left: 65px;
    }

    .btn-subscribe {
        width: 35%; 
        height: 40px;
    }
}


@media (min-width: 1156px) {
    .footer {
        display: block;
        padding: 80px 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-content {
        margin-right: 120px;
    }

    .social-media-icons {
        justify-content: flex-start;
    }

    .subscribe-form {
        flex-direction: row;
        
    }

    .input-email {
        width: 264px;
    }
}

/* end footer subscribe */
/* #endregion footer */

/* Основні стилі для мобільного і планшетів */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(46, 47, 66, 0.4);
    height: 100%;
    width: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%; 
    max-width: 320px; 
    padding: 48px 16px; 
    min-height: 300px; 
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 16px; 
    right: 16px;
    width: 24px;
    height: 24px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    width: 100%;
    font-weight: 500;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 12px; 
}

.form-input {
    width: 100%; 
    height: 40px;
    padding: 8px 16px; 
    font-size: 14px; 
    line-height: 1.2;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.textarea-input {
    width: 100%;
    height: 120px;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
}

@media (min-width: 768px) {
    .modal {
        max-width: 408px; 
        min-height: 564px;
        max-width: 100%;
        margin: 112px 24px 136px 24px;
    }

    .modal-caption {
        margin-bottom: 16px;
        font-size: 16px; 
    }

    .form-input,
    .textarea-input {
        font-size: 16px; 
    }
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .input-container {
        position: relative;
    }

    .input-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        fill: rgba(46, 47, 66, 0.6);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    
    .form-input {
        padding-left: 40px; 
        padding-right: 16px;
    }

    .form-input:focus + .input-icon,
    .textarea-input:focus + .input-icon {
        fill: #4D5AE5;
    }
}

.checkbox-container {
    margin: 16px 0px 24px 0px;
}
.privacy-link {
    color: #4d5ae5; 
    text-decoration: underline;
}

.privacy-link:visited {
    color: #4D5AE5; 
}

.privacy-link:hover {
    color: #404bbf; 
}

/* region Mobile Menu */
.mobile-menu-btn {
    width: 28px; 
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    background-color: transparent;
    border: 1px solid #e7e9fc;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    margin-left: auto;
}
@media only screen and (min-width: 768px) {
.mobile-menu-btn {
    display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 72px 16px 40px;
    display: none;
    flex-direction: column;
}
.mobile-menu .mobile-menu-btn {
    
    position: absolute;
    top: 24px;
    right: 24px;
    color: #2e2f42;
    border-radius: 50%;
    border: 1px solid #e7e9fc;
}
.mobile-menu-btn svg {
    
    stroke: currentColor;
}
.mobile-menu .mobile-menu-btn:active{
    background-color: #4D5AE5;
    color: #F4F4FD;
    border-color: transparent;
}
.mobile-menu-nav li:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav a {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #2E2F42;
}
.mobile-menu-nav a.current {
    color: #4D5AE5;
}
.mobile-menu-contacts {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #434455;
}

.mobile-menu-contacts li:first-child a {
    color: #4D5AE5;
}
.mobile-menu-contacts li:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-socials {
    display: flex;
    justify-content: left; 
    gap: 12px; 
}

.social-media-item {
    list-style: none;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
}
/* end region Mobile Menu */


