/* #region Variables */
:root {
/* Fonts */
--font-family: "Roboto", sans-serif;
--second-family: "Raleway", sans-serif;

/* Others */
--items: 4;
--ident-col: 24px;
--anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Variables */

/* #region Base */

body {
font-family: var(--font-family);
font-size: 16px;
font-weight: 400;
letter-spacing: 2%;
background-color: #fff;
color: #434455;
}

address {
font-style: normal;
}

a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
text-align: center;
}

ul,
ol {
list-style-type: none;
padding: 0;
margin: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

button {
font-family: inherit;
color: currentColor;
cursor: pointer;
}

/* #endregion Base */

/* #region Common */

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.section {
padding: 96px 16px;
}
@media only screen and (min-width: 768px) {
.section {
    padding: 96px 0;
}
}
@media only screen and (min-width: 1158px) {
.section {
    padding: 120px 0;
}
}

.container {
max-width: 320px;
margin: 0 auto;
padding: 0 16px;
}

@media only screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
}

@media only screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
}
}

.team-title,
.portfolio-title {
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.logo {
font-family: var(--second-family);
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-light {
color: #f4f4fd;
}

.logo-dark {
color: #2e2f42;
}

/* Socials */
.socials {
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
}
.socials-item {
width: 40px;
height: 40px;
}
.socials-link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: var(--anim-main);
transition-property: background-color;
}

/* Card set */
.card-set {
/* gap: 24px; */
display: flex;
justify-content: center;
flex-wrap: wrap;
row-gap: 48px;
column-gap: var(--ident-col);
}
.card-set-item {
width: calc((100% - var(--ident-col) * (var(--items) - 1)) / var(--items));
}

/* #endregion Common */

/* #region Header */

.header {
border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;
align-items: center;
}
.header-nav {
display: flex;
align-items: center;
margin-right: auto;
justify-content: space-between;
}
.header-logo {
margin-right: 149px;
}
@media only screen and (min-width: 768px) {
.header-logo {
    margin-right: 120px;
}
}
@media only screen and (min-width: 1158px) {
.header-logo {
    margin-right: 76px;
}
}
.header-nav-list {
display: flex;
align-items: center;
gap: 40px;
}
@media only screen and (max-width: 767.98px) {
.header-nav-list {
    display: none;
}
}
.header-nav-link {
position: relative;
padding: 24px 0;
display: block;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: var(--anim-main);
transition-property: color;
}
.header-nav-link.active {
color: #404bbf;
}
.header-nav-link::after {
position: absolute;
bottom: -1px;
left: 0;
content: "";
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background: transparent;
}
.header-nav-link.active::after {
background: #404bbf;
}
.header-nav-link:hover,
.header-nav-link:focus {
color: #404bbf;
}
.header-nav-link:active {
color: #404bbf;
}

.mobile-menu-btn {
display: flex;
align-items: center;
justify-content: center;
min-width: 24px;
min-height: 24px;
padding: 16px 0;
background-color: transparent;
border: none;
}
@media only screen and (min-width: 768px) {
.mobile-menu-btn {
    display: none;
}
}

.header-address {
}
@media only screen and (max-width: 767.98px) {
.header-address {
    display: none;
}
}
.header-address-list {
display: flex;
align-items: center;
gap: 40px;
}
@media only screen and (max-width: 1157.98px) {
.header-address-list {
    display: inline;
}
}
.header-address-link {
display: block;
padding: 24px 0;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
transition: var(--anim-main);
transition-property: color;
}
@media only screen and (max-width: 1157.98px) {
.header-address-link {
    padding: 0;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.03em;
}
}
.header-address-link:hover,
.header-address-link:focus {
color: var(--ocean);
}

@media only screen and (max-width: 1157.98px) {
.email-link {
    margin-bottom: 12px;
}
}
/* #endregion Header */

/* #region Hero */

.hero-section {
padding: 72px 0;
width: 100%;
max-width: 1440px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg_mob@1x.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 0 auto;
}
@media (min-resolution: 192dpi) {
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg_mob@2x.jpg);
}
}
@media only screen and (min-width: 768px) {
.hero-section {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg_tab@1x.jpg);
}
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg_tab@2x.jpg);
}
}
@media only screen and (min-width: 1158px) {
.hero-section {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg_desc@1x.jpg);
}
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/Dark-bg_desc@2x.jpg);
}
}

.hero-container {
}

.hero-title {
width: 216px;
margin: 0 auto;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-align: center;
color: #fff;
}
@media only screen and (min-width: 768px) {
.hero-title {
    width: 496px;
    font-family: Roboto;
    font-size: 56px;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}
}

.btn {
display: block;
height: 56px;
border: none;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 16px 32px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
min-width: 169px;
min-height: 56px;
margin-top: 48px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
transition: var(--anim-main);
transition-property: background-color;
}
.btn:hover,
.btn:focus {
background-color: #404bbf;
}
.btn:active {
background-color: #404bbf;
}
.btn-accent {
}

/* #endregion Hero */

/* #region Features */
.features-section {
}
@media only screen and (min-width: 768px) {
.features-section {
    padding: 96px 0;
}
}
.features-title {
}
.features-list {
--items: 1;
row-gap: 72px;
}
@media only screen and (min-width: 768px) {
.features-list {
    --items: 2;
}
}
@media only screen and (min-width: 1158px) {
.features-list {
    --items: 4;
}
}
.feature-item {
width: 288px;
}
@media only screen and (min-width: 768px) {
.feature-item {
    width: 356px;
}
}
@media only screen and (min-width: 1158px) {
.feature-item {
    width: 264px;
}
}
.feature-icon {
display: flex;
align-items: center;
justify-content: center;
width: 264px;
height: 112px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #8e8f99;
background: #f4f4fd;
margin-bottom: 8px;
}
@media only screen and (max-width: 1157.98px) {
.feature-icon {
    display: none;
}
}
.feature-caption {
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
margin-bottom: 8px;
color: #2e2f42;
}
@media only screen and (min-width: 768px) {
.feature-caption {
    text-align: left;
}
}
@media only screen and (min-width: 1158px) {
.feature-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
}
.feature-desc {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
color: #434455;
text-align: left;
}
@media only screen and (min-width: 1158px) {
.feature-desc {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
}
/* #endregion Features */

/* #region Team */
.team-section {
background: #f4f4fd;
}
.team-container {
padding: 0 12px;
}
@media only screen and (min-width: 768px) {
.team-container {
    padding: 0 92px;
}
}
@media only screen and (min-width: 1158px) {
.team-container {
    padding: 0 15px;
}
}
.team-title {
}
.team-list {
row-gap: 72px;
--items: 1;
}
@media only screen and (min-width: 768px) {
.team-list {
    row-gap: 64px;
    --items: 2;
}
}
@media only screen and (min-width: 1158px) {
.team-list {
    --items: 4;
}
}

.team-data {
padding: 32px 0;
}

.team-item {
width: 264px;
border-radius: 0px 0px 4px 4px;
background: #fff;
border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #fff);
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-capture {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-desc {
margin-bottom: 8px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.socials {
}
.socials-link {
}
.socials-link:focus,
.socials-link:hover {
background-color: #404bbf;
}
.socials-icon {
fill: #f4f4fd;
}
/* #endregion Team */

/* #region Portfolio */

.portfolio {
}
.portfolio-title {
}
.portfolio-list {
--items: 1;
}
@media only screen and (min-width: 768px) {
.portfolio-list {
    row-gap: 72px;
    --items: 2;
}
}
@media only screen and (min-width: 1158px) {
.portfolio-list {
    row-gap: 48px;
    --items: 3;
}
}
.portfolio-data {
padding: 32px 16px;
border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
border-left: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.portfolio-item:hover,
.portfolio-item:focus {
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
width: 288px;
transition: var(--anim-main);
transition-property: box-shadow;
}
@media only screen and (min-width: 768px) {
.portfolio-item {
    width: 356px;
}
}
@media only screen and (min-width: 1158px) {
.portfolio-item {
    width: 360px;
}
}
.portfolio-item:hover .overlay-text {
transform: translateY(0);
}
.portfolio-wrapper {
position: relative;
overflow: hidden;
}
.overlay-text {
text-align: left;
color: #f4f4fd;
font-family: Roboto;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
padding: 40px 32px;
position: absolute;
top: 0;
width: 100%;
height: 100%;
background-color: #4d5ae5;
transform: translateY(100%);
transition: var(--anim-main);
transition-property: transform;
}
.portfolio-caption {
margin-bottom: 8px;
text-align: left;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-desc {
text-align: left;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* #endregion Portfolio */

/* #region Footer */

.footer {
background-color: #2e2f42;
padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
.footer {
    padding: 100px 0;
}
}
.footer-container {
display: flex;
justify-content: center;
flex-direction: column;
}
@media only screen and (min-width: 768px) {
.footer-container {
    flex-direction: column;
    width: 584px;
}
}
@media only screen and (min-width: 1158px) {
.footer-container {
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15px;
}
}
.footer-first-column {
display: flex;
flex-direction: column;
}
@media only screen and (min-width: 768px) {
.footer-first-column {
    flex-direction: row;
}
}
@media only screen and (min-width: 1158px) {
.footer-first-column {
    flex-direction: row;
    margin-right: 24px;
}
}
.footer-data {
margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
.footer-data {
    margin-right: 24px;
}
}
@media only screen and (min-width: 1158px) {
.footer-data {
    margin-right: 120px;
    margin-bottom: 0;
}
}

.footer-logo {
display: flex;
justify-content: center;
margin-bottom: 16px;
}
@media only screen and (min-width: 1158px) {
.footer-logo {
    justify-content: left;
}
}
.footer-slo {
width: 288px;
text-align: left;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
@media only screen and (min-width: 768px) {
.footer-slo {
    width: 264px;
}
}

.footer-socials {
margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
.footer-socials {
    display: flex;
    flex-direction: column;
}
}
@media only screen and (min-width: 1158px) {
.footer-socials {
    margin-bottom: 0;
}
}

.footer-socials-link:focus,
.footer-socials-link:hover {
background-color: #31d0aa;
}

.footer-socials-title {
text-align: center;
color: #fff;
font-family: Roboto;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
.footer-socials-title {
    text-align: left;
}
}

.footer-socials-list {
gap: 16px;
margin-right: 0;
}
@media only screen and (min-width: 1158px) {
.footer-socials-list {
    margin-right: 80px;
}
}
.footer-subscribe {
display: flex;
flex-direction: column;
align-items: center;
}
@media only screen and (min-width: 768px) {
.footer-subscribe {
    align-items: flex-start;
}
}
@media only screen and (min-width: 1158px) {
.footer-subscribe {
    align-items: flex-start;
}
}
.footer-subscribe-title {
color: #fff;
font-family: Roboto;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
display: block;
margin-bottom: 16px;
}
.footer-subscribe-form {
display: flex;
flex-direction: column;
align-items: center;
}
@media only screen and (min-width: 768px) {
.footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
}
}
@media only screen and (min-width: 1158px) {
.footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
}
}

.footer-subscribe-input {
padding: 8px 16px;
color: #fff;
font-family: Roboto;
font-size: 12px;
line-height: 24px; /* 200% */
letter-spacing: 0.48px;
background-color: inherit;
width: 288px;
height: 40px;
border-radius: 4px;
border: 1px solid #fff;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
outline: transparent;
transition: var(--anim-main);
transition-property: border-color;
margin-bottom: 16px;
opacity: 0.3;
}
@media only screen and (min-width: 768px) {
.footer-subscribe-input {
    width: 264px;
    margin-bottom: 0;
}
}
@media only screen and (min-width: 1158px) {
.footer-subscribe-input {
    opacity: 0.3;
    margin-bottom: 0;
    opacity: 1;
}
}
.footer-subscribe-input:focus {
border-color: #4d5ae5;
}

.footer-subscribe-input::placeholder {
color: #fff;
font-family: Roboto;
font-size: 12px;
line-height: 24px; /* 200% */
letter-spacing: 0.48px;
font-weight: 400;
}

.footer-subscribe-btn {
display: flex;
align-items: center;
justify-content: center;
padding: 8px 24px;
margin: 0;
position: relative;
min-width: 165px;
height: 40px;
min-height: 40px;
}

.footer-send-icon {
margin-left: 16px;
fill: #fff;
}

/* #endregion Footer */

/* #Region Modal */

.backdrop {
    display: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    height: 100%;
    width: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .modal {
    max-width: 408px;
    min-height: 584px;
    }
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon-close {
    fill: #000000; 
}

.form-input:focus + .input-icon svg {
    fill: #4D5AE5; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}


.modal-btn:hover svg,
.modal-btn:focus svg {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-caption {
    width: 100%;
    font-weight: 500;
    text-align: center;
    color: #2E2F42;
    border-radius: 4px 0 0 0;
    margin-bottom: 16px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-group {
    margin-bottom: 16px; 
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-right: 16px;
    padding-left: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

#user-comment:focus,
#user-name:focus {
    border-color: #4D5AE5; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    border-color: #4D5AE5;    
}

.input-container:hover .input-icon,
.input-container:focus-within .input-icon {
    fill: #4D5AE5; 
}

.modal .modal-btn:hover,
.modal .modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.textarea-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    display: block;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.textarea-input:focus {
    border-color: #4D5AE5; 
}

/* Загальний контейнер для чекбоксу */
.checkbox-container {
    margin-bottom: 24px; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    fill: #F4F4FD;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-color, #8e8f99);     
    align-items: center;
    cursor: pointer;
}

.checkbox-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px; 
}

.checkbox-icon {
    width: 10px;
    height: 8px;
    
}

#user-privacy:checked + .checkbox-label .checkbox-box {
    background-color: var(--checked-bg-color, #404bbf); 
    fill: var(--icon-fill-color);
    border: none;
}

#user-privacy:checked + .checkbox-label .checkbox-box .checkbox-icon {
    fill: var(--checked-icon-color, #F4F4FD); 
}

.privacy-link {
    color: var(--link-color, #4d5ae5);
    text-decoration: none;
}

.privacy-link:hover,
.privacy-link:focus {
    text-decoration: underline;
}


/* #end Region Modal */

/* #region Mobile menu */
.mobile-menu {
position: fixed;
top: 0;
left: 0;
width: 100dvw;
height: 100dvh;
padding: 72px 16px 40px;

display: none;
flex-direction: column;
background-color: #fff;
transition: var(--anim-main);
transition-property: transform;

transform: translateX(100%);
}
.mobile-menu.is-open {
transform: translateX(0);
}
.mobile-menu .mobile-menu-btn {
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: #fff;
transition: var(--anim-main);
transition-property: background-color, border;
padding: 0;
}

.mobile-menu .mobile-menu-btn:active {
fill: #fff;
background-color: #404bbf;
border: transparent;
}

.mobile-menu-icon {
transition: var(--anim-main);
transition-property: fill;
}

.mobile-menu-icon:active {
fill: #fff;
}
.mobile-menu-nav {
margin-bottom: auto;
}
.mobile-menu-nav li:not(:last-child) {
margin-bottom: 40px;
}
.mobile-menu-nav a {
color: #2e2f42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
}
.mobile-menu-nav a.active {
color: #404bbf;
}
.mobile-menu-contacts {
margin-bottom: 48px;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.mobile-menu-contacts a.active {
color: #404bbf;
}
.mobile-menu-contacts li:not(:last-child) {
margin-bottom: 24px;
}
.mobile-menu-link {
color: #434455;
}
.mobile-menu-socials {
gap: 40px;
}
/* #endregion Mobile menu */